header {
    background-color: blue;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}

nav a{
    font-weight: 800;
}

.container {
    margin: 20px;
}


section #conteudo {
    line-height: 1.5;
}

#contact form {
    border: solid 1px gray;
    padding: 10px;
}

p {
    color: green;
}

#contact form button {
    background-color: blue;
    color: white;
}

footer {
    border-top: 2px solid red;
}